.f{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    float: left;


}


.g{
    margin-left: 15%;
    margin-right: 15%;
    margin-inline-end: 65%;
    
   
    



}