{% extends 'app/baseProducto.html' %}

{% block content %}
{% load staticfiles %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
<!-- <link  href="{% static 'css/estilos.css' %}" rel="stylesheet"> -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/icomoon/style.css' %}" rel="stylesheet">
<!-- <link  href="{% static 'css/carrusel.css' %}" rel="stylesheet"> -->
<link href="{% static 'css/menu.css' %}" rel="stylesheet">
<!-- <link  href="{% static 'css/galeria1.css' %}" rel="stylesheet">
<link  href="{% static 'css/lightbox.min.css' %}" rel="stylesheet"> -->
<!-- <link  href="{% static 'css/menuFijo.css' %}" rel="stylesheet"> -->
<!-- <link  href="{% static 'css/rrss.min.css' %}" rel="stylesheet"> -->
<h1 class="f">Listar Productos</h1>
<body>
   
    {% for c in producto %}
            
                <form  role="form" enctype="multipart/form-data" action="" method="POST" id="upload-image-form">
                    <div class="btit" id="tcen" >
                        <div > NOMBRE </div><div  class="czise">{{c.nombre}}</div>
                        <div > DESCRIPCION </div><div  class="czise">{{c.descripcion}}</div>          
                        <div > CLASIFICACIÓN </div><div  class="czise">{{c.clasificacion}}</div>
                        <div > PRECIO </div><div  class="czise">$ {{c.precio}}</div>
                        
                    </div>
                    
                </form>
            
            {% endfor%}
        
</body>
{% endblock content %}